*{
    box-sizing: border-box;
}

body {
  margin: 0;
}


.container {
  display: flex;
}


.site-title{
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.nav{
  background-color:lightslategray;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul{
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  
}

.nav li{
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: -25rem;
}

.movie-card
{ 
  padding: 1em;
  margin: auto;
  display: grid;
  grid-template-columns:  6fr 6fr 6fr; 
  gap: 5em;
}









